<h1>on edit workout page</h1>

<form action="/workouts/<%= @workout.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  Title: <input type="text" name="workout_title" value="<%= @workout.title %>">
  Description: <input type="text" name="workout_description" value="<%= @workout.description %>">
  <button>Update Title & Description</button>
</form>