<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Comfortaa" rel="stylesheet">
  <title>Workout Mate</title>
</head>
<body>
  <header>
    <a href="/" class="logo">Workout Mate</a>

    <% if logged_in? %>
      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/profile">Profile</a>
        <a href="/workouts">Workouts</a>
      </nav>
      <section class="logged-in-details">
        <section class="user-details">
          <p>Username: <%= session[:username] %></p>
          <p>Email: <%= session[:email] %></p>
          <br>
          <p>Had enough? <a href="/users/delete">Delete everything.</a> </p>
        </section>
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-btn">LOG OUT</button>
        </form>
      </section>
    <% else %>
      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/">About</a>
      </nav>
      <section class="logged-out-details">
        <form action="/session" method="post">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <button>LOG IN</button>
          <p class="signup">Not a member? <a href="/signup">Join now.</a></p>
        </form>
      </section>
    <% end %>
  </header>


  <main>
    <%= yield %>
  </main>
  <footer>
    &copy; Workout Mate
  </footer>
</body>
</html>